@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  --text: #e8eff6;
--background: #09131f;
--primary: #84b3e6;
--secondary: #114e92;
--accent: #4fa3ff;
  margin: 0;
  background-color: #09131f;
  font-family: "Raleway", sans-serif;
}